---
layout: page
title : Navigation
header : Post Archive
group: navigation
---

<!-- post information -->

<h2>{
color:#FF0000;
} Posts </h2>

{% include JB/setup %}

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}

<hr />

<!-- tag information -->

<h2>{
color:#FF0000;
} Tags </h2>

{% include JB/setup %}

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}
  {% include JB/tags_list %}
</ul>


{% for tag in site.tags %}
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}
    {% include JB/pages_list %}
  </ul>
{% endfor %}

<hr />
